.experience {
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7%;
    margin-bottom: 30px;
    max-width: 70%;
}

.title {
    color: #3d4451;
    font-size: 2.125rem;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    font-family: "Playfair Display";
    letter-spacing: .5px;
    padding: 0px 30px;
    white-space: nowrap;
}

.experienceList {
    position: relative;
}

.inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 1000px) {
    .experience {
        max-width: 95% !important;
    }
}