.skillsContainer {
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6%;
    max-width: 70%;
}

.skillsContainer .title {
    color: #3d4451;
    font-size: 2.125rem;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    font-family: "Playfair Display";
    letter-spacing: .5px;
    padding: 0px 30px;
    margin-bottom: 30px;
    white-space: nowrap;
    margin-top: 0px;
}

.skillsContainer .skillBox {
    padding: 50px 40px;
    background-color: #fff;
    padding: 30px 30px;
    box-shadow: rgba(68, 66, 66, 0.521) 0px 22px 70px 4px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

@media (max-width: 800px) {
    .skillsContainer {
        max-width: 95% !important;
    }
}