.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 200vh;
}

.codingBgImage {
  height: 50vh;
}

.mainContainer {
  background-color: #f7dfc6;
}

.contentWrapper {
  background-color: #d7d7d7;
  border-radius: 0px 0% 0px 200px;
  padding: 0px 15px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.professionalDetails {
  background-color: #d7d7d7;
  padding: 0px 15px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

/* .footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
} */


@media (max-width: 800px) {
  .contentWrapper {
    padding-top: 80px !important;
  }
  .codingBgImage {
    height: auto;
    margin-top: 70px;
  }
}
